@model IEnumerable<Adventum.Models.EventReservationModel>

@{
    ViewData["Title"] = "Резервации";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.UserFullName)</th>
        <th>@Html.DisplayNameFor(model => model.EventName)</th>
        <th>@Html.DisplayNameFor(model => model.Location)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserFullName)</td>
            <td>@Html.DisplayFor(modelItem => item.EventName)</td>
            <td>
                <p>
                    @item.Location.Name at (@item.Location.Latitude; @item.Location.Longtitude)
                </p>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.EventReservationId">Детайли</a>
                @if (User.IsInRole("Administrator"))
                {
                    <a asp-action="Delete" asp-route-id="@item.EventReservationId">Изтрий</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>