@model Adventum.Models.RegisterModel

@{
    ViewData["Title"] = "Регистрация";
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-controller="Login" asp-action="Register" method="post">
            <h2>Създай нов акаунт.</h2>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Username"/>
                <label asp-for="@Model.Username">Потребителско име</label>
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="@Model.Email">Email</label>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="First name"/>
                <label asp-for="@Model.FirstName">Име</label>
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="Last name"/>
                <label asp-for="@Model.FirstName">Фамилия</label>
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label asp-for="@Model.Password">Парола</label>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label asp-for="@Model.ConfirmPassword">Потвърди паролата</label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Регистрирай</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}